
:root {
  --pinkish: #ef3d62;
  --fontMain: normal 1em/2.2em Montserrat, sans-serif;
}

main {
  background-color: #31215b;
  top: 0;
  display:none;

}
body {
  margin: 0;
  background-color: #31215b;
}

header {
  position: relative;
  z-index: 200;
}
nav {
  background-image: url("/img/logoA.svg");
  width: 8em;
  height: 8em;
  background-repeat: no-repeat;
  margin: 2em;
}

#introText {
  font: 1em "Montserrat", sans-serif;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4em;
}

#projectList {
  display: grid;
  grid-template-areas:
  'memory arcade'
  'china cssgrid'
  'feedread portfolio';
  grid-gap: 2em;
  grid-auto-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
  list-style-type: none;
  font: var(--fontMain);
  color: var(--pinkish);
}


#memory {
  grid-area: memory;
}
#arcade{
  grid-area: arcade;
}
#china {
  grid-area: china;
}
#cssgrid {
  grid-area: cssgrid;
}
#feedread {
  grid-area: feedread;
}
#portfolio {
  grid-area: portfolio;
}

.projectGrid {
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
}


#introText h1:nth-of-type(1) {
  order: 2;
}

#introText div:nth-of-type(2) {
  order: 3;
}#introText div:nth-of-type(3) {
  order: 1;
}


#logoMain1 {
  width: 2em;
  height: 2em;
  position: absolute;
}

.social-icons {
  transform: scale(1.5);
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

}
.social-icon {
  opacity: 0;
  transition: opacity .3s;

}
.social-icon svg {
  overflow: visible !important;
}
.social-icon .si-splash,
.social-icon .si-grid {
  display: none;
  visibility: hidden;
}
.social-icon .si-icon {
  transform-origin: "center center";
}
footer {
  display: none;
  float: left;
  z-index: 1000;
  position: absolute;
  padding-left: 1em;
  top: 35%;

}


#prestart{
  z-index: 1000;
}
#middle {
  display:none;
}

#end {
  display: none;
}

#bigger {
  display: none;
}
#logo {
  display: none;
}
#start {
  display:none;
}
