
:root {
  --pinkish: #fff;
  --fontMain: normal 1em/2.2em Montserrat, sans-serif;
  --darkpurp: rgb(63, 0, 107);
}
#portfolioOut {
  position: fixed;
  top: 0;
}

#logo2 {
  padding: 1em 1em;
}

#closure {
  z-index: 1000;
}


#truffleShuffle {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2em;
  border-radius: 8%;
  border: 20px white;
  width: 16em;
  height: 9em;
}


.visitAll {
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin:auto;
  padding: .6em 1.7em;
}

.visitAll {
  -webkit-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#visitMem {
  color: #00b7ff;
    padding: 1em 1.8em;
}
#visitChina {
  background: #ffd530;
  border: 5px solid #31215b;
}

#buttonVisit {
  display: flex;
}

#visitMem:hover {
  background: #00b7ff;
  color: #fff;
}
#visitChina:hover {
  background: yellow;

}


#visitAll:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#visitMem:active {
  color: #00b7ff;
  text-decoration: none;
}


.flipExamp {
  -webkit-animation-duration: 2s !important;
  -o-animation-duration: 2s !important;
  -ms-animation-duration:2s !important;
  -ms-animation-delay: ;
  -o-animation-delay: ;
  -webkit-animation-delay: ;
  height: 12em;
  width: 12em;
  text-align: center;
  display: flex;
  margin: auto;
}

#imgBox {
  display: flex;
  flex-wrap: wrap;
}

#navLogo {
  z-index: 30;
  top: 0;
}

#port1{
  z-index: -1;
  display: none;

}
#port2{
  display:none;
}
#port3{
  display:none;
}
#port4{
  display:none;
}
#port5{
  display:none;
}

#portfolio1 {
  position:  absolute;
  display:  grid;
  grid-template-columns:  .5fr;
  justify-content:  center;
  margin-top: 5em;
}

main {
  background-color: #444;
  top: 0;
  -webkit-animation-duration: 1s;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: #444;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 10em;
  height: 10em;
  margin: 0;
  position: fixed;
  padding: 0 2em;
}

#introText {
  font: .9em "Montserrat", sans-serif;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5em;
}


.caseBtn {
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #FFF;
}
.button__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .2em 1em;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-1em);
  opacity: 0;
}
.button__mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.caseBtn:hover {
  opacity: 1;
}
.caseBtn:hover .button__text {
  animation: fx-text .3s ease-out;
}
.caseBtn:hover .button__text--bis {
  animation: fx-text-bis .3s ease-out;
}
.caseBtn:hover .button__mask {
  animation: fx-mask .3s ease-out;
}

.caseBtn:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1em);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


#projectList {
  display: grid;
  grid-gap: 2em;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
  list-style-type: none;
  font: var(--fontMain);
  color: var(--pinkish);
}

.projectGrid {
  /*-webkit-animation-delay: 2s; */
  -webkit-animation-duration: 2s;
  border: .15em solid white;
  padding: .5em;
  text-align: center;
}

#graphChina {
  display: flex;
  margin: auto;
  transform: scale(.6);
}

#chinaBtnGif {
  height: 15em;
  width: 15em;
  display: flex;
  margin: auto;
  border-radius: 3%;
  border: solid 3px var(--darkpurp);
}

#chinaAssets {
  height: 20em;
  width: 40em;
  display: flex;
  margin:auto;
  border-radius: 3%;
  border: solid 3px var(--darkpurp);
  transform: scale(.8);
}


.projectGrid p{
  padding: .15em .15em;
}

.projectGrid a {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  background: #ef3d61;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font: var(--fontMain);
  font-weight: bold;
  z-index: 55;
}

.projectList li {
  display: block;
  grid-template-rows: 2fr .5fr 4fr;
  border-radius: 2%
}

.projectList h3 {
  font-size: 1.3em;
}

#introText {
  grid-template-columns: 1fr 4fr 1fr;
}

#introText h1:nth-of-type(1) {
  order: 2;
}

#introText div:nth-of-type(2) {
  order: 3;
  }#introText div:nth-of-type(3) {
    order: 1;
  }


  #logoMain1 {
    width: 2em;
    height: 2em;
    position: absolute;
  }

  .social-icons {
    transform: scale(1.2);
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;

  }
  .social-icon {
    opacity: 0;
    transition: opacity .3s;

  }
  .social-icon svg {
    overflow: visible !important;
  }
  .social-icon .si-splash,
  .social-icon .si-grid {
    display: none;
    visibility: hidden;
  }
  .social-icon .si-icon {
    transform-origin: "center center";
  }
  footer {
    display: none;
    float: left;
    z-index: 1000;
    position: fixed;
    padding-left: 1em;
    top: 44%;
  }


  #prestart{
    z-index: 1000;
  }
  #middle {
    display:none;
  }

  #end {
    display: none;
  }

  #bigger {
    display: none;
  }
  #logo {
    display: none;
  }
  #start {
    display:none;
  }

  .close {
    display: inline-block;
    position: fixed;
    right: .4em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0.4em;
    height: 0.4em;
    border: none;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font: normal 8em/normal Arial, Helvetica, sans-serif;
    color: #31215b;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #31215b;
    -webkit-transform: rotateZ(471.54426539266757deg);
    transform: rotateZ(471.54426539266757deg);
    cursor: pointer;
  }

  .close:hover {
    background: #ef3d62;
    -webkit-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -webkit-transform: rotateX(-1.7188733853924696deg) rotateZ(19.48056503444799deg)   ;
    transform: rotateX(-1.7188733853924696deg) rotateZ(19.48056503444799deg)   ;
  }

  .close:active {
    background: #ef3d62;
    -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.5) inset;
    box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.5) inset;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: rotateZ(471.54426539266757deg)   ;
    transform: rotateZ(471.54426539266757deg)   ;
  }

  .close::before {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0.22em;
    height: 0.03em;
    left: 22.5%;
    top: 44%;
    position: absolute;
    content: "";
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    text-shadow: none;
    -webkit-transform: rotateZ(24.064227395494576deg)   ;
    transform: rotateZ(24.064227395494576deg)   ;
  }

  .close::after {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0.22em;
    height: 0.03em;
    left: 22.5%;
    top: 44%;
    position: absolute;
    content: "";
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    text-shadow: none;
    -webkit-transform: rotateZ(-66.46310423517549deg)   ;
    transform: rotateZ(-66.46310423517549deg)   ;
  }


  @media screen and (max-width: 1190px) {
    .projectList li {
      display: grid;
      grid-template-rows: 1fr .5fr 2fr
    }
    .caseBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    #introText {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      font: .9em "Montserrat", sans-serif;
      color: white;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 3em;
    }

  }

  @media screen and (max-width: 798px) {
    #introText {
      font: .8em "Montserrat", sans-serif;
      color: white;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 2em;
    }
    #projectList {
      grid-template-columns: 1fr;
    }
    .projectList li {
      display: grid;
      grid-template-rows: 1fr .5fr 2fr;
    }
    #introText {
      grid-template-columns: 1fr 4fr 1fr;
    }
    footer {
      display: none !important;
    }
    .caseBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #navLogo {
      display: none;

    }
  }

  @media screen and (max-width: 840px) {
    #portfolioOut {
      height: 150% !important;
      transform: scale(3);
    }
  }
