
:root {
  --pinkish: #ef3d62;
  --fontMain: normal 1em/2.2em Montserrat, sans-serif;
}

main {
  background-color: #31215b;
  top: 0;
  display:none;
  -webkit-animation-duration: 1s;
}
body {
  margin: 0;
  background-color: #ffffff;
}

header {
  position: relative;
  z-index: 200;
}
nav {
  background-image: url("/img/logoA.svg");
  width: 8em;
  height: 8em;
  background-repeat: no-repeat;
  margin: auto;
}

#introText {
  font: 1em "Montserrat", sans-serif;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4em;
}

#fallout{
  display: none;
}
#projectList {
  display: grid;
  grid-gap: 2em;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
  list-style-type: none;
  font: var(--fontMain);
  color: var(--pinkish);
}

.projectGrid {
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  border: .15em solid var(--pinkish);
  padding: 2em;
  text-align: center;
}




.projectGrid p{
  padding: .15em .15em;
}

.projectGrid a {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  background: #ef3d61;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font: var(--fontMain);
  font-weight: bold;
  z-index: 55;
}

.projectList li {
  display: block;
  grid-template-rows: 2fr .5fr 4fr;
}

.projectList h3 {
  font-size: 1.3em;
}

#introText {
  grid-template-columns: 1fr 4fr 1fr;
}

#introText h1:nth-of-type(1) {
  order: 2;
}

#introText div:nth-of-type(2) {
  order: 3;
  }#introText div:nth-of-type(3) {
    order: 1;
  }


  #logoMain1 {
    width: 2em;
    height: 2em;
    position: absolute;
  }

  .social-icons {
    transform: scale(1.5);
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;

  }
  .social-icon {
    opacity: 0;
    transition: opacity .3s;

  }
  .social-icon svg {
    overflow: visible !important;
  }
  .social-icon .si-splash,
  .social-icon .si-grid {
    display: none;
    visibility: hidden;
  }
  .social-icon .si-icon {
    transform-origin: "center center";
  }
  footer {
    display: none;
    float: left;
    z-index: 1000;
    position: fixed;
    padding-left: 1em;
    top: 35%;
  }


  #prestart{
    z-index: 1000;
  }
  #middle {
    display:none;
  }

  #end {
    display: none;
  }

  #bigger {
    display: none;
  }
  #logo {
    display: none;
  }
  #start {
    display:none;
  }

  @media screen and (max-width: 1190px) {
    .projectList li {
      display: grid;
      grid-template-rows: 1fr .5fr 2fr
    }
    #introText {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
  }


  @media screen and (max-width: 798px) {
    #projectList {
      grid-template-columns: 1fr;
    }
    .projectList li {
      display: grid;
      grid-template-rows: 1fr .5fr 2fr;
    }
    #introText {
      grid-template-columns: 1fr 4fr 1fr;
    }
    footer {
      display: none !important;
    }

  }
